* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 10px;
}

window#waybar {
  background: transparent;
  /*
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
  */
}

.module {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 1px 8px;
  margin: 1px 1px;
  border-radius: 4px;
  background-color: #1e1e3e;
  color: #9da6f4;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}
